# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [152]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

### Assumptions
- We only consider the totals/national fields, not the values per district/region. Sometimes, the sum of the values per region is a bit higher than the total. We assume that's because some regions are not shown in the data.
- The fields "National" in SL and Liberia mean the same as the "Totals" field in Guinea, i.e. the Total number of cases in the country.
- When there's a NaN (the value was not filled), we assume that the data was somehow lost
- We are only interested in the Totals/National columns. If a row contains a NaN in this column, we chose to discard the row. This should not be problematic, since we consider the daily **average** per month.
- Since we don't have additionnal information on the data, especially about the meanings of some fields, we decide to compute the new cases separaterly for the confirmed, probable and suspect cases. Same goes for the deaths.

### Process
- first, we import the data and store it separately for each country
- then we rename the fields that we will use (Totals, Description,...) so that they are the same for each country
- we also add two new fields "Country" and "Month" (derived from Date) in each of the 3 dataframes, to simplify the process for later

In [153]:
# imports
import pandas as pd
import os
import numpy as np

In [154]:
# import data
guinea = []
liberia = []
sl = []
dfs = [guinea, liberia, sl]
i = 0
folders = ["guinea_data", "liberia_data", "sl_data"]
for folder in folders:
    path = DATA_FOLDER + "/ebola/"
    for file in os.listdir(path + folder):
        dfs[i].append(pd.read_csv(path + folder + '/' + file))
    i += 1
pd.concat(sl)['National'].isnull().sum()

923

In [155]:
# clean Guinea data
guinea = pd.DataFrame()
i = 0
for df in dfs[0]:
    df['Country'] = 'Guinea' # set the new country column
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month) # set the new month column
    dfs[0][i] = df
    i += 1
guinea = pd.concat(dfs[0])
guinea.head()

,Beyla,Boffa,Conakry,Country,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,...,Lola,Macenta,Month,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,Guinea,NaN,0,NaN,2014-08-04,New cases of suspects,0,...,NaN,0,8,NaN,0,0,0,0,5,NaN
1,NaN,0,0,Guinea,NaN,0,NaN,2014-08-04,New cases of probables,0,...,NaN,0,8,NaN,0,0,0,0,0,NaN
2,NaN,0,1,Guinea,NaN,0,NaN,2014-08-04,New cases of confirmed,0,...,NaN,0,8,NaN,0,0,0,0,4,NaN
3,NaN,0,6,Guinea,NaN,0,NaN,2014-08-04,Total new cases registered so far,0,...,NaN,0,8,NaN,0,0,0,0,9,NaN
4,NaN,0,9,Guinea,NaN,0,NaN,2014-08-04,Total cases of suspects,0,...,NaN,0,8,NaN,0,0,0,0,11,NaN

In [156]:
# clean liberia data
liberia = pd.DataFrame()
i = 0
for df in dfs[1]:
    df['Country'] = 'Liberia'
    df = df.rename(columns = {'National':'Totals'})
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month)
    dfs[1][i] = df
    i += 1
liberia = pd.concat(dfs[1])
liberia.head()

,Bomi County,Bong County,Country,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,...,Maryland County,Month,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County,Totals,Unnamed: 18,Variable
0,NaN,NaN,Liberia,6/16/2014,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,6,0.0,NaN,NaN,NaN,NaN,1.0,NaN,Specimens collected
1,NaN,NaN,Liberia,6/16/2014,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,6,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Specimens pending for testing
2,NaN,NaN,Liberia,6/16/2014,NaN,NaN,NaN,NaN,NaN,21.0,...,NaN,6,7.0,NaN,NaN,NaN,NaN,28.0,NaN,Total specimens tested
3,NaN,NaN,Liberia,6/16/2014,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,6,0.0,NaN,NaN,NaN,NaN,2.0,NaN,Newly reported deaths
4,NaN,NaN,Liberia,6/16/2014,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,6,0.0,NaN,NaN,NaN,NaN,8.0,NaN,Total death/s in confirmed cases

In [157]:
# clean Sierra Leone data
sl = pd.DataFrame()
i = 0
for df in dfs[2]:
    df['Country'] = 'Sierra Leone'
    df = df.rename(columns = {'National':'Totals', 'date' : 'Date'})
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month)
    dfs[2][i] = df
    i += 1
sl = pd.concat(dfs[2])
sl.head()

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Country,Date,Hastings-F/Town,Kailahun,Kambia,...,Port Loko,Pujehun,Tonkolili,Totals,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban,variable
0,NaN,654142,NaN,494139,168729,Sierra Leone,2014-08-12,NaN,465048,341690,...,557978,335574,434937,6348350,NaN,NaN,NaN,263619,1040888,population
1,NaN,0,NaN,0,0,Sierra Leone,2014-08-12,NaN,0,0,...,1,0,0,4,NaN,NaN,NaN,0,0,new_noncase
2,NaN,1,NaN,0,0,Sierra Leone,2014-08-12,NaN,0,0,...,0,0,0,10,NaN,NaN,NaN,0,0,new_suspected
3,NaN,1,NaN,0,0,Sierra Leone,2014-08-12,NaN,0,0,...,0,0,0,1,NaN,NaN,NaN,0,0,new_probable
4,NaN,0,NaN,0,0,Sierra Leone,2014-08-12,NaN,0,0,...,2,0,0,11,NaN,NaN,NaN,0,0,new_confirmed

In [163]:
# merge dataframes
full_data = pd.concat([guinea, liberia, sl])

# remove each row whose 'Totals' value is NaN
n_col_before = full_data.shape[0]
full_data = full_data[full_data.Totals.notnull()]
n_col_after = full_data.shape[0]

print("Removed " + str(n_col_before-n_col_after) + " rows out of " + str(n_col_before))

Removed 1685 rows out of 7128

In [164]:
full_data.head(10)

,34 Military Hospital,Beyla,Bo,Bo EMC,Boffa,Bombali,Bomi County,Bong County,Bonthe,Conakry,...,Tonkolili,Totals,Unnamed: 18,Variable,Western area,Western area combined,Western area rural,Western area urban,Yomou,variable
0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,5,...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,1,...,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,6,...,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,9,...,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,8,...,NaN,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,78,...,NaN,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN,95,...,NaN,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
guinea[10]

,Date,Description,Totals,Conakry,Gueckedou,Macenta,Dabola,Kissidougou,Dinguiraye,Telimele,...,Mzerekore,Yomou,Dubreka,Forecariah,Kerouane,Coyah,Dalaba,Beyla,Kindia,Lola
0,2014-09-11,New cases of suspects,9,NaN,4,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,3,NaN,NaN,NaN,NaN,NaN
1,2014-09-11,New cases of probables,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-11,New cases of confirmed,13,2,1,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,2014-09-11,Total new cases registered so far,22,2,5,10,0,0,0,0,...,0,0,0,1,3,1,NaN,NaN,NaN,NaN
4,2014-09-11,Total cases of suspects,32,10,5,12,0,0,0,0,...,0,0,0,1,3,0,NaN,NaN,NaN,NaN
5,2014-09-11,Total cases of probables,151,8,110,12,3,5,1,3,...,1,0,0,0,0,0,NaN,NaN,NaN,NaN
6,2014-09-11,Total cases of confirmed,716,117,232,232,1,2,0,23,...,14,11,21,7,17,6,NaN,NaN,NaN,NaN
7,2014-09-11,Cumulative (confirmed + probable + suspects),899,135,347,256,4,7,1,26,...,15,11,21,8,20,6,NaN,NaN,NaN,NaN
8,2014-09-11,Total suspected non-class cases,747,259,252,128,3,7,0,18,...,9,4,17,9,3,1,NaN,NaN,NaN,NaN
9,2014-09-11,New deaths registered,2,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-09-11,Total deaths of suspects,4,2,0,2,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
11,2014-09-11,Total deaths of probables,151,8,110,12,3,5,1,3,...,1,0,0,0,0,0,NaN,NaN,NaN,NaN
12,2014-09-11,Total deaths of confirmed,413,47,182,134,1,1,0,7,...,7,5,4,4,1,2,NaN,NaN,NaN,NaN
13,2014-09-11,Total deaths (confirmed + probables + suspects),568,57,292,148,4,6,1,10,...,8,5,4,4,1,2,NaN,NaN,NaN,NaN
14,2014-09-11,Fatality rate for confirmed and probables,63%,42%,84%,58%,100%,86%,100%,38%,...,53%,45%,19%,50%,5%,33%,NaN,NaN,NaN,NaN
15,2014-09-11,New cases of confirmed among health workers,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2014-09-11,Total case of confirmed among health workers,57,31,8,8,0,0,0,2,...,1,1,4,0,0,0,NaN,NaN,NaN,NaN
17,2014-09-11,New deaths registered among health workers,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
18,2014-09-11,Total deaths registered among health workers,28,13,6,6,0,0,0,1,...,1,1,0,0,0,0,NaN,NaN,NaN,NaN
19,2014-09-11,New admits to CTE so far,3,2,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-09-11,Total number of hospitalized cases in CTE,108,23,85,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
21,2014-09-11,Total number of exits from CTE,14,8,6,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
22,2014-09-11,Total number of admissions to CTE,1244,416,774,0,0,0,0,41,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
23,2014-09-11,New contacts registered so far,172,14,43,48,NaN,NaN,NaN,NaN,...,3,NaN,NaN,59,NaN,5,NaN,NaN,NaN,NaN
24,2014-09-11,Total contacts registered from start date,9378,2412,3702,1126,69,159,0,259,...,217,56,180,121,208,97,NaN,NaN,NaN,NaN
25,2014-09-11,Number of contacts to follow today,2453,600,292,831,0,0,0,0,...,52,35,180,121,208,97,NaN,NaN,NaN,NaN
26,2014-09-11,Number of contacts followed today,2136,574,292,555,0,0,0,0,...,52,30,180,118,165,90,NaN,NaN,NaN,NaN
27,2014-09-11,Number of contacts out of the track 21 days,6904,1812,3410,295,69,159,0,259,...,165,0,0,0,43,0,NaN,NaN,NaN,NaN
28,2014-09-11,Number of contacts lost to follow up,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
29,2014-09-11,Number of samples collected today,47,16,31,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2014-09-11,Number of samples under test,0,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2014-09-11,Total samples tested,2333,938,1395,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
new_cases = guinea_df_clean[guinea_df_clean.Description.str.contains('New cases of probables')]
new_cases.Totals = pd.to_numeric(new_cases.Totals)
merge_index = new_cases.month
means = new_cases.groupby(merge_index).agg(np.mean)
#means['month'] = means.index

means = means[['Totals']]

means

C:\Users\rbsteinm\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

       Totals
month
8      2.0000
9      1.1875
10     0.0000

In [76]:
# concat all dataframes for guinea
guinea_df = pd.DataFrame()
for df in guinea:
    guinea_df = pd.concat([guinea_df, df])
guinea_df_clean = guinea_df[['Date', 'Description', 'Totals']]
guinea_df_clean['month'] = pd.to_numeric(pd.to_datetime(guinea_df_clean['Date']).dt.month)

new_cases = guinea_df_clean[guinea_df_clean.Description.str.contains("Total deaths \(confirmed \+ probables \+ suspects\)")]


interests = ['New cases of suspects', 'New cases of probables', 'New cases of confirmed', 'Total new cases', "Total deaths \(confirmed \+ probables \+ suspects\)"]
all_means = []
new_cases
for interest in interests:
    new_cases = guinea_df_clean[guinea_df_clean.Description.str.contains(interest)]
    new_cases.Totals = pd.to_numeric(new_cases.Totals)
    merge_index = new_cases.month
    means = new_cases.groupby(merge_index).agg(np.mean)
    means = means[['Totals']]

    means.columns = [interest]
    all_means.append(means)

current = all_means[0]
for mean in all_means[1:]:
    current = pd.merge(current, mean,  left_index=True, right_index=True)
current

C:\Users\rbsteinm\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\rbsteinm\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,New cases of suspects,New cases of probables,New cases of confirmed,Total new cases,Total deaths \(confirmed \+ probables \+ suspects\)
month,,,,,
8,11.8000,2.0000,6.888889,25.800,543.2000
9,5.4375,1.1875,6.718750,19.625,603.1875
10,28.0000,0.0000,4.000000,34.000,739.0000

In [ ]:
'''for interest in interests:
    new_cases = guinea_df_clean[guinea_df_clean.Description.str.contains('Total deaths of confirmed')]
    new_cases.Totals = pd.to_numeric(new_cases.Totals)
    means = new_cases.groupby(new_cases.month).agg(np.mean)
    #means = means[['Totals']]

    means.columns = [interest, 'month']
    all_means.append(means)

current = all_means[0]
for mean in all_means[1:]:
    current = pd.merge(current, mean)
current'''

In [ ]:
pd.to_datetime(guinea_df.head().Date).dt.month

In [129]:
# try to group by month
guinea_df.groupby(pd.to_datetime(guinea_df.head().Date).dt.month).agg(np.mean).head()

DataError: No numeric types to aggregate

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here