# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [108]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

### Assumptions
- We only consider the totals/national fields, not the values per district/region. Sometimes, the sum of the values per region is a bit higher than the total. We assume that's because some smaller regions are not shown in the data.
    - For this reason, if the *Totals* value is NaN, we cannot just sum up the values of the different regions.
- The fields "National" in SL and Liberia mean the same as the "Totals" field in Guinea, i.e. the Total number of cases in the country.
- When there's a NaN (the value was not filled), we assume that the data was lost, or not written down.
- We are only interested in the Totals/National columns. If a row contains a NaN in this column, we chose to discard the row. This should not be problematic (if the number of NaNs in *Totals* is reasonably low), since we consider the daily **average** per month.
- Since we don't have additionnal information on the data, especially about the meanings of some fields, we decide to compute the new cases separaterly for the confirmed, probable and suspect cases. Same goes for the deaths.

### Process
- first, we import the data and store it separately for each country
- then we rename the fields that we will use (Totals, Description,...) so that they are the same for each country
- we also add two new fields "Country" and "Month" (derived from Date) in each of the 3 dataframes, to simplify the process for later
- We then concatenate the 3 dataframes into a single dataframe, called *full_data*
- Then, to facilitate readability we crop this dataframe (keep only the columns *month*, *Description*, *Totals*, *Country*) and store the result in *full_data_crop*
- We do a couple of sanity checkups, to ensure that the data is well-formated and not erroneous (1 <= month <= 12, no NaN value, etc)

In [109]:
# imports
import pandas as pd
import os
import numpy as np

In [110]:
# import data
guinea = []
liberia = []
sl = []
dfs = [guinea, liberia, sl]
i = 0
folders = ["guinea_data", "liberia_data", "sl_data"]
for folder in folders:
    path = DATA_FOLDER + "/ebola/"
    for file in os.listdir(path + folder):
        dfs[i].append(pd.read_csv(path + folder + '/' + file))
    i += 1

In [111]:
# import Guinea data into DataFrame
guinea = pd.DataFrame()
i = 0
for df in dfs[0]:
    df['Country'] = 'Guinea' # set the new country column
    dfs[0][i] = df
    i += 1
guinea = pd.concat(dfs[0])
guinea.head(2)

,Beyla,Boffa,Conakry,Country,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,Guinea,NaN,0,NaN,2014-08-04,New cases of suspects,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,Guinea,NaN,0,NaN,2014-08-04,New cases of probables,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN

In [112]:
# import liberia data into DataFrame
liberia = pd.DataFrame()
i = 0
for df in dfs[1]:
    df['Country'] = 'Liberia'
    df = df.rename(columns = {'National':'Totals', 'Variable':'Description'})
    dfs[1][i] = df
    i += 1
liberia = pd.concat(dfs[1])
liberia.head(2)

,Bomi County,Bong County,Country,Date,Description,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County,Totals,Unnamed: 18
0,NaN,NaN,Liberia,6/16/2014,Specimens collected,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,NaN
1,NaN,NaN,Liberia,6/16/2014,Specimens pending for testing,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [113]:
# import Sierra Leone data into DataFrame
sl = pd.DataFrame()
i = 0
for df in dfs[2]:
    df['Country'] = 'Sierra Leone'
    df = df.rename(columns = {'National':'Totals', 'date' : 'Date', 'variable':'Description'})
    dfs[2][i] = df
    i += 1
sl = pd.concat(dfs[2])
sl.head(2)

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Country,Date,Description,Hastings-F/Town,Kailahun,...,Police traning School,Port Loko,Pujehun,Tonkolili,Totals,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban
0,NaN,654142,NaN,494139,168729,Sierra Leone,2014-08-12,population,NaN,465048,...,NaN,557978,335574,434937,6348350,NaN,NaN,NaN,263619,1040888
1,NaN,0,NaN,0,0,Sierra Leone,2014-08-12,new_noncase,NaN,0,...,NaN,1,0,0,4,NaN,NaN,NaN,0,0

In [125]:
# merge dataframes
full_data = pd.concat([guinea, liberia, sl])

# remove each row whose 'Totals' value is NaN
n_col_before = full_data.shape[0]
full_data = full_data[full_data.Totals.notnull()]
n_col_after = full_data.shape[0]
print("Removed " + str(n_col_before-n_col_after) + " rows out of " + str(n_col_before))

# Specify that the Date column contains datetime objects
full_data.Date = pd.to_datetime(full_data.Date)

# To facilitate readability, we discard all the columns we don't need
full_data_crop = full_data[['Country', 'Description', 'Totals', 'Date']]

Removed 1685 rows out of 7128

In [126]:
# This is what the dataframe that we'll use to compute the different values looks like so far
full_data_crop.head(2)

  Country             Description Totals       Date
0  Guinea   New cases of suspects      5 2014-08-04
1  Guinea  New cases of probables      0 2014-08-04

In [127]:
# Names and regexes that we use to process the Description

interests_rgx = ['(new_suspected|New cases of suspects|New Case\/s \(Suspected\))',
             '(new_probable|New cases of probables|New Case\/s \(Probable\))',
             '(new_confirmed|New cases of confirmed|New case\/s \(confirmed\))',
             '(death_suspected|Total deaths of suspects|Total death\/s in suspected cases)',
             '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
             '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]

interests_new_cases = ['New cases (suspected)', 'New cases (probable)', 'New cases (confirmed)']
interests_death = ['Deaths in suspected cases', 'Deaths in probable cases', 'Deaths in confirmed cases']
interests_names = interests_new_cases + interests_death

In [128]:
# We decided to unstack the Descriptions column in other columns

# uniformize description in needed columns
for i in range(len(interests_rgx)):
    full_data_crop.Description = full_data_crop.Description.str.replace(interests_rgx[i], interests_names[i])

# remove un-needed rows based on Description column
_filter = full_data_crop.Description.isin(interests_names)
full_data_crop = full_data_crop[_filter]

# unstack data
full_data_crop.index = pd.MultiIndex.from_arrays([full_data_crop.Description.values, full_data_crop.Country.values, full_data_crop.Date.values])

# We discovered that there are 3 duplicated lines in the file 2014-10-04 from liberia
# We then had to delete the duplicated rows from the data so that we could unstack it
full_data_crop = full_data_crop[~full_data_crop.index.duplicated(keep='first')]
full_data_crop = full_data_crop.drop(['Description', 'Date', 'Country'], axis=1)

# unstack the Descriptions and remove unneccessary index level
full_data_crop = full_data_crop.unstack(level=0)
full_data_crop.columns = full_data_crop.columns.droplevel()

# convert fields to numeric values
full_data_crop = full_data_crop.apply(pd.to_numeric)

full_data_crop

C:\Users\rbsteinm\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                         Deaths in confirmed cases  Deaths in probable cases  \
Guinea       2014-08-04                      228.0                     133.0
             2014-08-26                      292.0                     141.0
             2014-08-27                      294.0                     142.0
             2014-08-30                      324.0                     142.0
             2014-08-31                      337.0                     150.0
             2014-09-02                      349.0                     150.0
             2014-09-04                      368.0                     151.0
             2014-09-07                      402.0                     151.0
             2014-09-08                      402.0                     151.0
             2014-09-09                      410.0                     151.0
             2014-09-11                      413.0                     151.0
             2014-09-14                      429.0                     162.0
             2014-09-16                      442.0                     161.0
             2014-09-17                      442.0                     161.0
             2014-09-19                      463.0                     162.0
             2014-09-21                      465.0                     162.0
             2014-09-22                      468.0                     162.0
             2014-09-23                      476.0                     162.0
             2014-09-24                      481.0                     162.0
             2014-09-26                      668.0                     494.0
             2014-09-30                      539.0                     175.0
             2014-10-01                      562.0                     177.0
Liberia      2014-06-16                        8.0                       6.0
             2014-06-17                        8.0                       6.0
             2014-06-22                       16.0                       8.0
             2014-06-24                       18.0                       8.0
             2014-06-25                       20.0                       8.0
             2014-06-28                       26.0                      10.0
             2014-06-29                       26.0                      10.0
             2014-07-01                       30.0                      17.0
...                                            ...                       ...
Sierra Leone 2014-10-24                     1026.0                     180.0
             2014-10-25                     1037.0                     211.0
             2014-10-26                     1044.0                     208.0
             2014-10-27                     1049.0                     213.0
             2014-10-28                     1057.0                     208.0
             2014-10-30                     1064.0                     208.0
             2014-10-31                     1070.0                     208.0
             2014-11-01                     1077.0                     208.0
             2014-11-02                     1085.0                     208.0
             2014-11-06                     1114.0                     208.0
             2014-11-07                     1126.0                     208.0
             2014-11-08                     1133.0                     208.0
             2014-11-10                     1149.0                     208.0
             2014-11-12                     1169.0                     208.0
             2014-11-13                     1180.0                     208.0
             2014-11-15                     1206.0                     208.0
             2014-11-16                     1223.0                     208.0
             2014-11-17                     1223.0                     208.0
             2014-11-18                     1240.0                     208.0
             2014-11-20                     1282.0                     208.0
             2014-11-21                     1303.0                     208.0
             2014-11-22                     1333.0                     208.0
             2014-11-23                     1364.0                     208.0
             2014-11-24                     1397.0                     208.0
             2014-11-28                     1481.0                     208.0
             2014-11-29                     1496.0                     208.0
             2014-12-01                     1549.0                     208.0
             2014-12-04                     1648.0                     208.0
             2014-12-05                     1669.0                     208.0
             2014-12-06                     1708.0                     208.0

                         Deaths in suspected cases  New cases (confirmed)  \
Guinea       2014-08-04                        2.0                    4.0
             2014-08-26                        2.0                   10.0
             2014-08-27                        2.0                   10.0
             2014-08-30                        2.0                    9.0
             2014-08-31                        2.0                   29.0
             2014-09-02                        2.0                   14.0
             2014-09-04                        3.0                   17.0
             2014-09-07                        4.0                   11.0
             2014-09-08                        4.0                   11.0
             2014-09-09                        4.0                    7.0
             2014-09-11                        4.0                   13.0
             2014-09-14                        4.0                   14.0
             2014-09-16                        5.0                    6.0
             2014-09-17                        5.0                    6.0
             2014-09-19                        5.0                   12.0
             2014-09-21                        5.0                   17.0
             2014-09-22                        5.0                   14.0
             2014-09-23                        5.0                   25.0
             2014-09-24                        5.0                   20.0
             2014-09-26                      169.0                   10.0
             2014-09-30                        NaN                   11.0
             2014-10-01                        0.0                    6.0
Liberia      2014-06-16                        2.0                    1.0
             2014-06-17                        2.0                    0.0
             2014-06-22                        1.0                    5.0
             2014-06-24                        6.0                    4.0
             2014-06-25                        9.0                    2.0
             2014-06-28                       13.0                    1.0
             2014-06-29                       13.0                    2.0
             2014-07-01                       14.0                    2.0
...                                            ...                    ...
Sierra Leone 2014-10-24                      135.0                   41.0
             2014-10-25                      135.0                   70.0
             2014-10-26                      135.0                   62.0
             2014-10-27                      157.0                   91.0
             2014-10-28                      157.0                   47.0
             2014-10-30                      157.0                   50.0
             2014-10-31                      157.0                   95.0
             2014-11-01                      157.0                   60.0
             2014-11-02                      157.0                   61.0
             2014-11-06                      157.0                   41.0
             2014-11-07                      157.0                   45.0
             2014-11-08                      157.0                  111.0
             2014-11-10                      157.0                   94.0
             2014-11-12                      157.0                   61.0
             2014-11-13                      157.0                   84.0
             2014-11-15                      157.0                   54.0
             2014-11-16                      157.0                   89.0
             2014-11-17                      157.0                   53.0
             2014-11-18                      157.0                   43.0
             2014-11-20                      158.0                   94.0
             2014-11-21                      158.0                   51.0
             2014-11-22                      158.0                   47.0
             2014-11-23                      158.0                   39.0
             2014-11-24                      158.0                   83.0
             2014-11-28                      158.0                   84.0
             2014-11-29                      158.0                   64.0
             2014-12-01                      158.0                   72.0
             2014-12-04                      158.0                   37.0
             2014-12-05                      158.0                   54.0
             2014-12-06                      158.0                    NaN

                         New cases (probable)  New cases (suspected)
Guinea       2014-08-04                   0.0                    5.0
             2014-08-26                   NaN                   18.0
             2014-08-27                   0.0                   12.0
             2014-08-30                   0.0                   15.0
             2014-08-31                   8.0                    9.0
             2014-09-02                   0.0                   11.0
             2014-09-04                   0.0                   13.0
             2014-09-07                   0.0                    5.0
             2014-09-08                   0.0                    5.0
             2014-09-09                   0.0                    9.0
             2014-09-11                   0.0                    9.0
             2014-09-14                  11.0                    0.0
             2014-09-16                   0.0                    4.0
             2014-09-17                   0.0                    4.0
             2014-09-19                   1.0                    3.0
             2014-09-21                   0.0                    1.0
             2014-09-22                   0.0                    5.0
             2014-09-23                   0.0                    4.0
             2014-09-24                   0.0                    8.0
             2014-09-26                   7.0                    2.0
             2014-09-30                   0.0                    4.0
             2014-10-01                   0.0                   28.0
Liberia      2014-06-16                   1.0                    2.0
             2014-06-17                   0.0                    2.0
             2014-06-22                   0.0                    5.0
             2014-06-24                   0.0                    2.0
             2014-06-25                   1.0                    4.0
             2014-06-28                   6.0                    2.0
             2014-06-29                   0.0                    0.0
             2014-07-01                   0.0                    2.0
...                                       ...                    ...
Sierra Leone 2014-10-24                  10.0                    3.0
             2014-10-25                   9.0                    8.0
             2014-10-26                   0.0                   11.0
             2014-10-27                   5.0                   10.0
             2014-10-28                   0.0                   20.0
             2014-10-30                   0.0                    9.0
             2014-10-31                   0.0                   29.0
             2014-11-01                   0.0                   15.0
             2014-11-02                   0.0                   12.0
             2014-11-06                   0.0                    7.0
             2014-11-07                   0.0                   12.0
             2014-11-08                   0.0                   20.0
             2014-11-10                   0.0                   32.0
             2014-11-12                   0.0                   35.0
             2014-11-13                   NaN                    NaN
             2014-11-15                   NaN                    NaN
             2014-11-16                   NaN                    NaN
             2014-11-17                   NaN                    NaN
             2014-11-18                   NaN                    NaN
             2014-11-20                   0.0                   36.0
             2014-11-21                   0.0                   18.0
             2014-11-22                   0.0                   28.0
             2014-11-23                   0.0                   25.0
             2014-11-24                   0.0                   32.0
             2014-11-28                   0.0                   26.0
             2014-11-29                   0.0                   24.0
             2014-12-01                   0.0                   14.0
             2014-12-04                   0.0                    4.0
             2014-12-05                   0.0                   24.0
             2014-12-06                   NaN                    NaN

[217 rows x 6 columns]

In [129]:
# put Date and Country back as columns (from the indexes) to make groupbys cleaner
full_data_crop['Date'] = full_data_crop.index.get_level_values(1).values
full_data_crop['Country'] = full_data_crop.index.get_level_values(0).values

x = full_data_crop[full_data_crop.Country == 'Guinea']
y = x.groupby(x.Date.dt.month)
Guinea_Confirmed = (np.max(y['Deaths in confirmed cases']) - np.min(y['Deaths in confirmed cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
Guinea_Probable = (np.max(y['Deaths in probable cases']) - np.min(y['Deaths in probable cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
Guinea_Suspected = (np.max(y['Deaths in suspected cases']) - np.min(y['Deaths in suspected cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
Guinea_New_Confirmed = y['New cases (confirmed)'].mean()
Guinea_New_Probable = y['New cases (probable)'].mean()
Guinea_New_Suspected = y['New cases (suspected)'].mean()
print('Daily average deaths for Guinea')
print(Guinea_Confirmed)
print(Guinea_Probable)
print(Guinea_Suspected)
print(Guinea_New_Confirmed)
print(Guinea_New_Probable)
print(Guinea_New_Suspected)


x = full_data_crop[full_data_crop.Country == 'Liberia']
y = x.groupby(x.Date.dt.month)
Liberia_Confirmed = (np.max(y['Deaths in confirmed cases']) - np.min(y['Deaths in confirmed cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
Liberia_Probable = (np.max(y['Deaths in probable cases']) - np.min(y['Deaths in probable cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
Liberia_Suspected = (np.max(y['Deaths in suspected cases']) - np.min(y['Deaths in suspected cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
print('Daily average deaths for Liberia')
print(Liberia_Confirmed)
print(Liberia_Probable)
print(Liberia_Suspected)

x = full_data_crop[full_data_crop.Country == 'Sierra Leone']
y = x.groupby(x.Date.dt.month)
SL_Confirmed = (np.max(y['Deaths in confirmed cases']) - np.min(y['Deaths in confirmed cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
SL_Probable = (np.max(y['Deaths in probable cases']) - np.min(y['Deaths in probable cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
SL_Suspected = (np.max(y['Deaths in suspected cases']) - np.min(y['Deaths in suspected cases'])).divide((np.max(y['Date']) - np.min(y['Date'])).dt.days)
print('Daily average deaths for Sierra Leone')
print(SL_Confirmed)
print(SL_Probable)
print(SL_Suspected)

Daily average deaths for Guinea
Date
8      4.037037
9     11.392857
10          NaN
dtype: float64
Date
8      0.629630
9     12.285714
10          NaN
dtype: float64
Date
8     0.000000
9     5.964286
10         NaN
dtype: float64
Date
8     12.4
9     13.0
10     6.0
Name: New cases (confirmed), dtype: float64
Date
8     2.0000
9     1.1875
10    0.0000
Name: New cases (probable), dtype: float64
Date
8     11.8000
9      5.4375
10    28.0000
Name: New cases (suspected), dtype: float64
Daily average deaths for Liberia
Date
6      1.384615
7      1.440000
8      7.807692
9     18.551724
10     6.866667
11     0.000000
12          NaN
dtype: float64
Date
6      0.307692
7      1.720000
8      9.653846
9     10.206897
10     1.400000
11     0.000000
12          NaN
dtype: float64
Date
6     0.923077
7     0.400000
8     6.692308
9     7.586207
10    1.933333
11    0.000000
12         NaN
dtype: float64
Daily average deaths for Sierra Leone
Date
8      6.473684
9      5.310345
10    17.933333
11    14.964286
12    31.800000
dtype: float64
Date
8     0.157895
9     0.000000
10    5.866667
11    0.000000
12    0.000000
dtype: float64
Date
8     0.315789
9     0.000000
10    4.866667
11    0.035714
12    0.000000
dtype: float64

In [50]:
# we assume that the deaths are cumulative (everyday, you get the number of deaths so far, including the deaths that occured
# during previous days). Thus we proceed as follows: 
# - take the max and min number of death for each <Month, Country> pair, take their different

### remarks

TODO deaths are cumulative, can clone column, shift it and substract

In [ ]:
# test shift
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
df = df.two.shift(1)
print(df)
assert(df.isnull().sum()==1)
df = df.fillna(0)
print(df)

In [ ]:
# compute the desired values

interests = ['(new_suspected|New cases of suspects|New Case\/s \(Suspected\))',
             '(new_probable|New cases of probables|New Case\/s \(Probable\))',
             '(new_confirmed|New cases of confirmed|New case\/s \(confirmed\))',
             '(death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)',
             '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
             '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
death_interests = [
            '(death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)',
            '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
            '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
all_means = []
for interest in interests:
    rows = full_data_crop[full_data_crop.Description.str.match(interest)]
    #print(rows.shape)
    rows.Totals = pd.to_numeric(rows.Totals)
    if(interest in death_interests):
        #print(type(rows))
        total_deaths = rows.Totals.shift(1).fillna(0)
        print('before: ')
        print(rows.Totals[1:10])
        rows.Totals = rows.Totals - total_deaths
        print('after: ')
        print(rows.Totals[1:10])
        
    merge_index = [rows.Month, rows.Country]
    means = rows.groupby(merge_index).agg(np.mean)
    #means = means[['Totals']]
    #assert((rows.Totals >= 0).all()) # assert that the Totals is always >= 0
    
    
    # test
    n_values = rows.groupby(merge_index).agg(['count', np.mean])
    #print(means)
    #print(n_values['Totals'])
    # /test

    means.columns = [interest]
    all_means.append(means)

current = all_means[0]
for mean in all_means[1:]:
    current = pd.merge(current, mean,  left_index=True, right_index=True)
current

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here